<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="keillion.github.dao.SaleStatisticsMapper" >
  <resultMap id="BaseResultMap" type="keillion.github.pojo.SaleStatistics" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="year" property="year" jdbcType="INTEGER" />
    <result column="quarter" property="quarter" jdbcType="INTEGER" />
    <result column="month" property="month" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="INTEGER" />
    <result column="week" property="week" jdbcType="INTEGER" />
    <result column="day" property="day" jdbcType="INTEGER" />
    <result column="income" property="income" jdbcType="BIGINT" />
    <result column="house" property="house" jdbcType="INTEGER" />
    <result column="seller" property="seller" jdbcType="INTEGER" />
    <result column="costomer" property="costomer" jdbcType="BIGINT" />
    <result column="card" property="card" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, year, quarter, month, date, week, day, income, house, seller, costomer, card
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="keillion.github.pojo.SaleStatisticsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from saleStatistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from saleStatistics
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from saleStatistics
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="keillion.github.pojo.SaleStatistics" >
    insert into saleStatistics (id, year, quarter, 
      month, date, week, 
      day, income, house, 
      seller, costomer, card
      )
    values (#{id,jdbcType=BIGINT}, #{year,jdbcType=INTEGER}, #{quarter,jdbcType=INTEGER}, 
      #{month,jdbcType=INTEGER}, #{date,jdbcType=INTEGER}, #{week,jdbcType=INTEGER}, 
      #{day,jdbcType=INTEGER}, #{income,jdbcType=BIGINT}, #{house,jdbcType=INTEGER}, 
      #{seller,jdbcType=INTEGER}, #{costomer,jdbcType=BIGINT}, #{card,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="keillion.github.pojo.SaleStatistics" >
    insert into saleStatistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="quarter != null" >
        quarter,
      </if>
      <if test="month != null" >
        month,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="week != null" >
        week,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="income != null" >
        income,
      </if>
      <if test="house != null" >
        house,
      </if>
      <if test="seller != null" >
        seller,
      </if>
      <if test="costomer != null" >
        costomer,
      </if>
      <if test="card != null" >
        card,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="year != null" >
        #{year,jdbcType=INTEGER},
      </if>
      <if test="quarter != null" >
        #{quarter,jdbcType=INTEGER},
      </if>
      <if test="month != null" >
        #{month,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=INTEGER},
      </if>
      <if test="week != null" >
        #{week,jdbcType=INTEGER},
      </if>
      <if test="day != null" >
        #{day,jdbcType=INTEGER},
      </if>
      <if test="income != null" >
        #{income,jdbcType=BIGINT},
      </if>
      <if test="house != null" >
        #{house,jdbcType=INTEGER},
      </if>
      <if test="seller != null" >
        #{seller,jdbcType=INTEGER},
      </if>
      <if test="costomer != null" >
        #{costomer,jdbcType=BIGINT},
      </if>
      <if test="card != null" >
        #{card,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="keillion.github.pojo.SaleStatistics" >
    update saleStatistics
    <set >
      <if test="year != null" >
        year = #{year,jdbcType=INTEGER},
      </if>
      <if test="quarter != null" >
        quarter = #{quarter,jdbcType=INTEGER},
      </if>
      <if test="month != null" >
        month = #{month,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=INTEGER},
      </if>
      <if test="week != null" >
        week = #{week,jdbcType=INTEGER},
      </if>
      <if test="day != null" >
        day = #{day,jdbcType=INTEGER},
      </if>
      <if test="income != null" >
        income = #{income,jdbcType=BIGINT},
      </if>
      <if test="house != null" >
        house = #{house,jdbcType=INTEGER},
      </if>
      <if test="seller != null" >
        seller = #{seller,jdbcType=INTEGER},
      </if>
      <if test="costomer != null" >
        costomer = #{costomer,jdbcType=BIGINT},
      </if>
      <if test="card != null" >
        card = #{card,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="keillion.github.pojo.SaleStatistics" >
    update saleStatistics
    set year = #{year,jdbcType=INTEGER},
      quarter = #{quarter,jdbcType=INTEGER},
      month = #{month,jdbcType=INTEGER},
      date = #{date,jdbcType=INTEGER},
      week = #{week,jdbcType=INTEGER},
      day = #{day,jdbcType=INTEGER},
      income = #{income,jdbcType=BIGINT},
      house = #{house,jdbcType=INTEGER},
      seller = #{seller,jdbcType=INTEGER},
      costomer = #{costomer,jdbcType=BIGINT},
      card = #{card,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>